
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    min-height: 100vh;
    background:linear-gradient( rgba(24, 99, 247, 0.2), rgba(0, 0, 0, 0.2) ), url("fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}


h1 {
    margin: 20px 0 20px;
    font-size: 80px;
    letter-spacing: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 8px 4px 10px #1365bd;

}


section {
    background-color: rgb(19, 40, 82);
    border-radius: 14px;
    padding: 20px 25px;
    margin: 20px 0;
    width: 400px;
    text-align: center;
    box-shadow:  10px 25px rgba(0, 0, 0, 0.45);
    border:#f2efef double;

}


h2 {
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#seleccion label {
    margin-left: 5px;
    margin-right: 15px;
    cursor: pointer;
}

#seleccion input[type="radio"] {
    transform: scale(1.2);
    cursor: pointer;
}
table{
    display: none;
}
#pantalla1, 
#pantalla2,
#fichas-pc,
#fichas-amigo
{
    display: none;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    outline: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    color: #0f0f0f;
}   
button {
    background-color: #031014;
    color: #f7f4f4;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0c0c0c;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
    background-color: #05366a;
}

td {
    width: 110px;
    height: 110px;
    border: 3px solid #ffffff;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

@media (max-width: 480px) {
    td {
        width: 70px;
        height: 70px;
        font-size: 36px;
    }

    section {
        width: 90%;
    }
}
.ganadora-x {
    background-color: #2ecc71; 
    color: #000;
    animation: ganar 0.6s ease-in-out infinite alternate;
}

.ganadora-o {
    background-color: #45e73c; 
    color: #fff;
    animation: ganar 0.6s ease-in-out infinite alternate;
}


